html {
    box-sizing: border-box
};

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;

}

header {
    display: flex;
    justify-content: center;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #f7f7f7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#weatherInput {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#weatherContainer{
     display: flex;
     justify-content:space-between;
     flex-wrap: wrap;
     
}

span {
    margin: 1rem;
}

.none {
    display:none;
}

.card {
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 0 3px 10px #ebebeb

}

